#!/bin/bash

case "${1:-''}" in
    'start')
        if [ -z "$2" ]; then
            echo "Usage: auth start|stop IMAGE"
            exit 1
        fi

        IMAGE="$2"
        docker run --name auth --env-file /usr/local/etc/auth.env \
            -p 3724:3724 -d "$IMAGE"
        exit 0
        ;;

    'stop')
        docker stop auth
        docker rm auth
        exit 0
        ;;

    *)
        echo "Usage: auth start|stop IMAGE"
        exit 1
        ;;
esac
