#!/bin/bash

case "${1:-''}" in
    'start')
        if [ -z "$2" ]; then
            echo "Usage: winzig start|stop IMAGE"
            exit 1
        fi

        IMAGE="$2"
        docker run --name winzig --env-file /usr/local/etc/winzig.env \
            -d "$IMAGE"
        exit 0
        ;;

    'stop')
        docker stop winzig
        docker rm winzig
        exit 0
        ;;

    *)
        echo "Usage: winzig start|stop [image]"
        exit 1
        ;;
esac
