#!/bin/bash

case "${1:-''}" in
    'start')
        if [ -z "$2" ]; then
            echo "Usage: {{ realm.name }} start|stop IMAGE"
            exit 1
        fi

        IMAGE="$2"
        docker run --name "{{ realm.name }}" --env-file "/usr/local/etc/{{ realm.name }}.env" \
            -p {{ realm.port }}:8085 -d -it "$IMAGE"
        exit 0
        ;;

    'stop')
        docker stop {{ realm.name }}
        docker rm {{ realm.name }}
        exit 0
        ;;

    *)
        echo "Usage: {{ realm.name }} start|stop IMAGE"
        exit 1
        ;;
esac
