#!/bin/bash

case "${1:-''}" in
    'start')
        if [ -z "$2" ]; then
            echo "Usage: {{ realm.name }} start|stop IMAGE"
            exit 1
        fi

        IMAGE="$2"
        docker run --name "{{ realm.name }}" --env MYSQL_USER="{{ mysql.user }}" \
            --env MYSQL_PASSWORD={{ mysql.password }} --env MYSQL_HOST={{ mysql.host }} \
            --env MYSQL_PORT={{ mysql.port }} --env ID={{ realm.id }} --env NAME={{ realm.name }} \
            --env ZONE={{ realm.zone }} -p {{ realm.port }}:8085 -d -it "$IMAGE"
        exit 0
        ;;

    'stop')
        docker stop {{ realm.name }}
        docker rm {{ realm.name }}
        exit 0
        ;;

    *)
        echo "Usage: {{ realm.name }} start|stop IMAGE"
        exit 1
        ;;
esac
